src/main/resources/META-INF/xsd/bris/v140/br/BR-AggregateComponents.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema
	xmlns="http://ec.europa.eu/bris/v1_4/br/AggregateComponents"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:brbc="http://ec.europa.eu/bris/v1_4/br/BasicComponents"
	xmlns:bbc="http://ec.europa.eu/bris/v1_4/common/BasicComponents"
	xmlns:bac="http://ec.europa.eu/bris/v1_4/common/AggregateComponents"
	targetNamespace="http://ec.europa.eu/bris/v1_4/br/AggregateComponents"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.4.0">

	<xsd:import
		namespace="http://ec.europa.eu/bris/v1_4/br/BasicComponents"
		schemaLocation="BR-BasicComponents.xsd" />
	<xsd:import
		namespace="http://ec.europa.eu/bris/v1_4/common/BasicComponents"
		schemaLocation="../common/BRIS-BasicComponents.xsd" />
	<xsd:import
		namespace="http://ec.europa.eu/bris/v1_4/common/AggregateComponents"
		schemaLocation="../common/BRIS-AggregateComponents.xsd" />

	<xsd:element name="MessageHeader" type="MessageHeaderType" />
	<xsd:element name="MessageObject" type="MessageObjectType"/>
	<xsd:element name="MessageRequest" type="MessageRequestType"/>
	<xsd:element name="MessageResponse" type="MessageResponseType"/>

	<xsd:complexType name="MessageObjectType">
		<xsd:sequence>
			<xsd:element ref="MessageHeader" />
		</xsd:sequence>
		<xsd:attribute name="modelVersion" fixed="1.4.0" use="required"/>
	</xsd:complexType>

	<xsd:complexType name="MessageHeaderType" >
		<xsd:sequence>
			<xsd:element ref="bbc:CorrelationID" />
			<xsd:element ref="bbc:MessageID" />
			<xsd:element ref="bac:BusinessRegisterReference" />
			<xsd:element ref="bac:TestData" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="MessageRequestType">
		<xsd:complexContent>
			<xsd:extension base="MessageObjectType"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="MessageResponseType">
		<xsd:complexContent>
			<xsd:extension base="MessageObjectType"/>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>

