src/test/resources/META-INF/xsd/common/DB-AggregateComponents.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	xmlns="http://eu.domibus.plugin/bris/common/aggregate/components/1.0"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:mime="http://www.w3.org/2005/05/xmlmime"
	targetNamespace="http://eu.domibus.plugin/bris/common/aggregate/components/1.0"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0.5">

	<xsd:import
		namespace="http://www.w3.org/2005/05/xmlmime"
		schemaLocation="xmlmime.xsd"/>

	<xsd:element name="AddressInfo" type="AddressInfoType"/>
	<xsd:element name="Attachment" type="AttachmentType"/>

	<xsd:element name="MessageContent" type="MessageContentType"/>
	<xsd:element name="Receiver" type="ReceiverType"/>
	<xsd:element name="Sender" type="SenderType"/>

	<xsd:complexType name="AddressInfoType">
		<xsd:sequence>
			<xsd:element ref="Sender"/>
			<xsd:element ref="Receiver"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="AttachmentType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:base64Binary" mime:expectedContentTypes="application/octet-stream">
				<xsd:attribute name="fileName" type="xsd:token" use="required"/>
				<xsd:attribute name="reference" use="required">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:minLength value="1" />
							<xsd:pattern value=".*[^\s].*" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="compressed" default="false" use="optional" type="xsd:boolean"/>
				<xsd:attribute ref="mime:contentType" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>


	<xsd:complexType name="MessageContentType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:base64Binary" mime:expectedContentTypes="application/octet-stream">
				<xsd:attribute ref="mime:contentType" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="ReceiverType">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="SenderType">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
