src/test/resources/META-INF/xsd/delivery/DB-DeliveryComponents.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	xmlns="http://eu.domibus.plugin/bris/delivery/components/1.0"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:dbac="http://eu.domibus.plugin/bris/common/aggregate/components/1.0"
	targetNamespace="http://eu.domibus.plugin/bris/delivery/components/1.0"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0.4">

	<xsd:import
		namespace="http://eu.domibus.plugin/bris/common/aggregate/components/1.0"
		schemaLocation="../common/DB-AggregateComponents.xsd" />

	<xsd:element name="Acknowledgement">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DeliveryMessageInfo"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="DeliveryBody">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="dbac:MessageContent" />
				<xsd:element ref="dbac:Attachment" minOccurs="0" maxOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="DeliveryHeader">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="dbac:AddressInfo" />
				<xsd:element ref="DeliveryMessageInfo" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="DeliveryMessageInfo" type="DeliveryMessageInfoType" />

	<xsd:element name="FaultDetail">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ResponseCode" type="xsd:string"/>
				<xsd:element name="Message" type="xsd:string" nillable="true"/>
				<xsd:element name="Description" type="xsd:string" nillable="true"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="DeliveryMessageInfoType">
		<xsd:sequence>
			<xsd:element name="Timestamp" type="xsd:dateTime" />
			<xsd:element name="MessageID" type="xsd:string" minOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>


</xsd:schema>
